host_addr 10.10.20.198
host_netmask 255.255.255.0
host_gateway 0.0.0.0
host_mtu 9000
runtime_cxl_path /dev/dax0.0
runtime_iok_socket_index 1
runtime_pmyiok_index 0
# runtime_bak_pmyiok_index 0
runtime_kthreads 12
runtime_spinning_kthreads 12
runtime_guaranteed_kthreads 12
runtime_priority lc
runtime_quantum_us 0